.post-title {
    font-size: 22px;
}

.post-body {
    font-size: 18px;
}

.post-author {
    font-size: 15px;
}

.comment-title {
    font-size: 18px;
}

.comment-body {
    font-size: 15px;
}

.comment-author {
    font-size: 12px;
}
